body {
    background-image: url("https://picsum.photos/id/168/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#header,.nav > a, #hero, #cta {
    color: white;
}

#header {
    background-color: #25221F;
    height: 60px;
}
#hero {
    font-size: 22px;

}
#hero > h1 {
    font-size: 80px;
}
#cta {
    background-color: #4DAA57;
}
#cta:hover {
    color: #4DAA57 ;
    background-color: white;
}
#services {
    background-color:rgb(163, 159, 159);
}
.card {
    background-color: white;
    width:fit-content;
}